.vs/
Debug/
Gravitar-clone/Debug/
Gravitar-clone/Gravitar-clone.vcxproj.user
Gravitar-clone/Gravitar-clone.vcxproj
Gravitar-clone/Gravitar-clone.user
Gravitar-clone/Gravitar-clone.filters
Gravitar-clone.sln
